@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

// Font
$principalFont: 'Lato', sans-serif;

// Media Queries size
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$black: #000000;
$yellow: #E08709;
$green: #71B100;
$white: #FFFFFF;
$gray: #e1e1e1;
$darkGray: #333333;
$red: rgb(189,7,7);

// Font size
$fontSmall: 300;
$fontRegular: 400;
$fontBold: 700;
$fontBlack: 900;