@include tablet{
    .section-inferior{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 3rem;
    }
}

.input-blog{
    margin-bottom: 2rem;
    @include tablet{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 3rem;
    }
    &:last-of-type{
        margin-bottom: 0;
    }
}

.input-date{
    span{
        color: $yellow;
    }
}

.input-text{
    a{
        color: $black;
    }
    h4{
        margin: 0;
        line-height: 1.4;
        &::after{
            content: '';
            display: block;
            width: 15rem;
            height: .5rem;
            background-color: $green;
        }
    }
}